<h1>Mis Productos</h1>

<div class="conteredorCards">
  {{#each productos}}
    <div class="card">
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
    </div>
  {{/each}}
</div>