<div class="container mt-5">
  <h1>Perfil de Usuario</h1>
  <div id="userInfo">
    <p>Cargando información de usuario...</p>
  </div>
  <button id="logoutBtn" class="btn btn-danger mt-3">Cerrar Sesión</button>
</div>

<script src="/js/profile.js"></script>